<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngIf="user">
      <form #userForm="ngForm" (submit)="processForm(task)">
        <div class="form-group">
          <label for="u_firstName">First Name</label>
          <input id="u_firstName"
                 class="form-control"
                 [(ngModel)]="user.firstName"
                 name="u_firstName"
                 type="text"
                 required="required">
        </div>
        <div class="form-group">
          <label for="u_lastName">Last Name</label>
          <input id="u_lastName"
                 class="form-control"
                 [(ngModel)]="user.lastName"
                 name="u_lastName"
                 type="text"
                 required="required">
        </div>
        <div class="form-group">
          <label for="u_age">Age</label>
          <input id="u_age"
                 class="form-control"
                 [(ngModel)]="user.age"
                 name="u_age"
                 type="number"
                 required="required">
        </div>
        <div class="form-group">
          <label for="u_city">City</label>
          <input id="u_city"
                 class="form-control"
                 [(ngModel)]="user.city"
                 name="u_city"
                 type="text"
                 required="required">
        </div>
        <input
          type="submit"
          value="Save"
          class="btn btn-primary"
          [disabled] = "!userForm.form.valid">
      </form>
    </div>
    <div class="col-sm-8" *ngIf="users.length > 0" >
      <div class="row">
        <div class="col">
          <strong>Id</strong>
        </div>
        <div class="col">
          <strong>First Name</strong>
        </div>
        <div class="col">
          <strong>Last Name</strong>
        </div>
        <div class="col">
          <strong>Age</strong>
        </div>
        <div class="col">
          <strong>City</strong>
        </div>
        <div class="col"></div>
      </div>
      <div class="row" *ngFor="let u of users">
        <div *ngIf="u" routerLink="/show/{{u.id}}">
          <div class="col">
            {{u.id}}
          </div>
          <div class="col">
            {{u.firstName}}
          </div>
          <div class="col">
            {{u.lastName}}
          </div>
          <div class="col">
            {{u.age}}
          </div>
          <div class="col">
            {{u.city}}
          </div>
          <div class="col">
            <div class="row">
              <button (click)="deleteUser(u)" class="btn btn-danger" style="width: 80px">Delete</button>
            </div>
            <div class="row">
              <button (click)="editUser(u)" class="btn btn-info" style="width: 80px">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="alert-danger row" *ngIf="error">
      {{error}}
    </div>
  </div>
</div>
