<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-primary" routerLink="/create">Back</button>
    </div>
    <div class="col-sm-12" *ngIf="user">
      <div class="row" >
        <div class="col-sm-4">
          Id
        </div>
        <div class="col-sm-8">
          <strong>{{user.id}}</strong>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-4">
          First Name
        </div>
        <div class="col-sm-8">
          <strong>{{user.firstName}}</strong>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-4">
          Last Name
        </div>
        <div class="col-sm-8">
          <strong>{{user.lastName}}</strong>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-4">
          Age
        </div>
        <div class="col-sm-8">
          <strong>{{user.age}}</strong>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-4">
          Last Name
        </div>
        <div class="col-sm-8">
          <strong>{{user.lastName}}</strong>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-4">
          City
        </div>
        <div class="col-sm-8">
          <strong>{{user.city}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
